<!---Title Block--->
<section class="title-block full">
  <section class="title-full">
    <h1>CU Voles</h1>
  </section>
  <section class="title-personal">
    <section class="login-status">
      <% if current_user %>
        Logged in as <%= current_user.name %>
      <% end %>
    </section>
  </section>
</section>
